* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent #f3f4f5 transparent transparent;
}

body {
   font: 1.8em Helvetica, Arial;
   background-color: aqua;
   background-image: url("https://core.telegram.org/file/811140603/1/c6O6wQAyOcE/711a1908109a1a32ae");
  }

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; 
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: rgb(72, 138, 155);
  border: crimson;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

#messages li {
  border-radius: 0%;
  width:30;
  height:30;
  padding: 5px 10px;
  background-color: rgb(105, 64, 18);
}

#messages li:nth-child(odd) {
  border: 2px solid #dedede;
  background: rgb(147, 160, 34);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}
